header{
   background-color: #C69d01;
   color: #150749;
   text-align: center;
}

main{
   background-color: #150749;
   color: #C69d01
   text-align: center;
}

p   {
   padding:20px;
   border:2px solid red;
   margin: 30px;
   background-color: azure;
} 